.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 10px;
}

.restaurant-item img {
  max-height: 180px;
  width: 95%;
}

.restaurant-item .caption {
  padding: 10px;
}

.word-wrap {
	word-wrap:break-word;
}

.nav-pills-center {
  text-align: center;
}
/*餐廳首頁*/
.nav-pills-center > li {
  float: none;
  display: inline-block;
}

.my-restaurant {
  display: inline-block;
  text-align: center;
  padding: 8px;
}

.my-restaurant img{
 max-height: 100%
}

.my-restaurant > div {
  height: 60px;
  }

.panel a:hover .my-restaurant {
  background-color: #eee;
  text-decoration: none;
}
a:hover{
  text-decoration:none; 
}